.header {
  background: #acc6c3;
  background: #eef9f3;
  padding: 0.1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 0;
  //   margin-bottom: 2rem;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.243);
  color: green;
  img {
    width: 1.5rem;
  }
  .logo {
    width: 6rem;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.12));
  }
}
